.picture {
    text-align: center;
    display: inline-flex;
    margin: 10px;
}


.pictures{
	margin-left: 60px;
}

.game {
	text-align: center;
	margin-left: 10px;
}

.rules {
	margin: 20px;
	padding: 20px;
	background-color: rgb(97,103,116);
	border-radius: 25px;
	border: 2px solid black;
	color: black;
}

.picture > img {
  width: 30%;
  height: 150px;
  padding: 10px;
  margin: 2px;
  border: 2px solid grey;
}
